.navbar-size {
    background-color: black;
    width: 100%;
    margin: 0 auto;
}
.nav-wrapper{
    background-color: black;
}

.user-image-size {
    height: 56px;
    margin: 4px 0;
}

.main-body {
    background-color: black;
    color: white;
    height: calc(100vh - 64px);
}

.materialboxed-image {
    margin: 0 auto;
    height: 400px;
}

.click-me-button {
    background-color: #2aeb50;
    margin-top: 50px;
}